extends template.pug
block title
	| Forum
block index
	a(type="button", style='float:right; clear:both; border-radius:0', href="/post").btn.btn-primary
		span.glyphicon.glyphicon-pencil &nbsp;
		| Write a post
	//- List of post
	.table-responsive
	table.table.table-hover
		thead(style='text-align: center')
			tr
				th(style='width:5%')
				th(style='width:50%')
				th(style='width:10%')
				th(style='width:10%')
				th
		tbody
			// Single line
			if pList
				each p in pList
					tr
						td
							img.img-responsive(src='images/logo.png', alt='', style='width:50px; height:50px')
						td
							p(style="font-size:1.2em") 
								a(href="/post/"+p.id) #{p.pTitle}
							p #{p.pCreatedAt}
						td
							p(style="text-align:center") #{p.pViews}
							p(style="text-align:center") VIEWS
						td(style='border-right:3px solid green')
							p 20K
							p COMMENTS
						td 1