extends template.pug
block title
	| Register
block register
	br
	form(action="/register2", method="POST", role="form")
		.col-xs-8.col-sm-8.col-md-8.col-lg-8.col-md-offset-2.col-sm-offset-2.col-lg-offset-2.col-xs-offset-2
			.form-group
				label(for="username") Username
				input.form-control(type="text", placeholder="Your name", name="uName", style="border-radius: 0px")
				label(for="email") Email
				input.form-control(type="text", placeholder="Your email. Ex: someone@gmail.com", name="email", style="border-radius: 0px")
				label(for="pass") Password
				input.form-control(type="password", placeholder="Your password", name="pass", style="border-radius: 0px")
				label(for="pConfirm") Confirm password
				input.form-control(type="password", placeholder="Confirm password", name="pConfirm", style="border-radius: 0px")
			div.btn(style="float:right; margin-right:-12px")
				button.btn.btn-primary(type="submit", style="border-radius: 0px") 
					span.glyphicon.glyphicon-ok &nbsp;
					| Register
				button.btn.btn-default(type="reset", style="border-radius: 0px") 
					span.glyphicon.glyphicon-remove &nbsp;
					| Reset